.commentItem {
	display: flex;
	flex-flow: row nowrap !important;
	align-items: flex-start !important;
	justify-content: stretch !important;
	border: 1px solid black;
}

.commentAvatar {
	margin-top: 1.5%;
}
