.centerAppBar,
.topAppBar {
    backdrop-filter: blur(20px);
    background-color: transparent !important;
    transition: all 0.5s ease-in-out !important;
}

.centerAppBar {
    position: relative !important;
    top: 45% !important;
}

.toolbar {
    display: flex;
    justify-content: center;
}

.hideThings > *:not(.textField) {
    transition: all 0.5s ease-in;
    opacity: 0;
    display: none;
}

.topAppBar {
    position: sticky !important;
}
