/* Add rounded corners to the box */
.videoItem {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}

.videoItem:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-color: transparent;
    border-radius: 0px;
}