.frame {
    height: 400px !important;
    width: 95vw !important;
    max-width: 710px;
    min-width: 250px;
}

.description {
    border-radius: 10px;
}

.frame iframe {
    width: 100%;
    height: 100%;
}
